<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/recepies" method="post">
        <label>Dosha</label>
        <select name="dosha">
            <option>Vata</option>
            <option>Pitta</option>
            <option>Kapha</option>
        </select>
        <input type="text" name="name" placeholder="Name"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>